{% for gpsPoint in  gpsPointList %}
    <ul>
        <li>Latitude : {{ gpsPoint.latitude }}</li>
        <li>Longitude : {{ gpsPoint.latitude }}</li>
        <li>Altitude : {{ gpsPoint.altitude }}</li>
    </ul>
{% endfor %}